@import "../../variables.scss";

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 10vh;
  .navLeft {
    padding: 1.5rem;
    a {
      text-decoration: none;
    }
    .logo {
      font-weight: 900;
      font-size: 1.5rem;
      color: $white;
      padding: 0.5rem;
      max-height: 10vh;
    }
  }
  .navRight {
    display: flex;
    position: relative;
    .link {
      display: flex;
      justify-content: center;
      align-items: center;
      min-width: 6rem;
      text-align: center;
      text-decoration: none;
      color: $white;
      height: 10vh;
      transition: all 0.2s ease;
      &:hover {
        color: $grey;
        background: $primary;
      }
    }

    .active {
      text-decoration: none;
      color: $secondary;
    }

    .icon {
      transform: translateY(10%);
      margin-left: 0.5rem;
    }

    .dropdownToggler {
      cursor: pointer;
      width: auto;
    }

    .dropdown {
      background: $primary-dark;
      border: 1px solid $grey;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%;
      position: absolute;
      z-index: 200;
      transition: all 0.2s ease;
      .link {
        width: 100%;
      }
    }

    .dropdownClose {
      opacity: 0;
      transform: translate(100%, 10vh);
      pointer-events: none;
    }

    .dropdownOpen {
      opacity: 1;
      transform: translate(0%, 10vh);
      pointer-events: all;
    }
  }
}
