@import "../../variables.scss";

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 10vh;
  .navLeft {
    padding: 1.5rem;
    a {
      text-decoration: none;
    }
    .logo {
      font-weight: 900;
      font-size: 1.5rem;
      color: $white;
      padding: 0.5rem;
      max-height: 10vh;
    }
  }
  .navRight {
    display: flex;
    .link {
      padding: 1.5rem;
      width: 6rem;
      text-align: center;
      text-decoration: none;
      color: $white;
      height: 100%;
      transition: all 0.2s ease;
      &:hover {
        color: $grey;
      }
    }

    .active {
      text-decoration: none;
      color: $secondary;
    }

    .icon {
      transform: translateY(10%);
    }

    .dropdownToggler {
      cursor: pointer;
    }

    .dropdown {
      background: $primary-dark;
      border: 1px solid $grey;
      padding: 1.5rem;
      position: absolute;
      top: 0%;
      right: 0%;
      z-index: 200;
      transition: all 0.2s ease;
    }

    .dropdownClose {
      opacity: 0;
      transform: translate(100%, 100%);
      pointer-events: none;
    }

    .dropdownOpen {
      opacity: 1;
      transform: translate(0%, 100%);
      pointer-events: all;
    }
  }
}
