$primary: #231769;
$primary-dark: #2a1e70;
$primary-light: #362a7e;
$secondary: #ec398b;
$white: #f7f7f7;
$whitebg: #eeeeee;
$grey: #928ab9;
$black: #1b1b1e;
$warning: #fecc78;
$warningBorder: #ff6600;
$danger: #e68c78;
$dangerBorder: #ff3001;
$success: rgb(25, 243, 18);
