$primary: #231769;
$primary-dark: #2a1e70;
$primary-light: #362a7e;
$secondary: #ec398b;
$white: #f7f7f7;
$whitebg: #eeeeee;
$grey: #928ab9;
$black: #1b1b1e;
$warning: #fecc78;
$warningBorder: #ff7b23;
$danger: #ffb0a0;
$dangerBorder: #e91313;
$success: rgb(25, 243, 18);
