@import "../../variables.scss";

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 90vh;
}

.Login {
  margin: auto;
  width: 40%;
  min-height: 30rem;
  padding: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  background: $primary-dark;
  animation: shine 5s ease-in-out infinite;
  h3 {
    color: $secondary;
    margin-bottom: 1rem;
    text-transform: uppercase;
    font-size: 2.2rem;
    font-weight: 700;
    letter-spacing: 5px;
  }
  .line {
    width: 100%;
    height: 5px;
    background: $secondary;
    position: absolute;
    top: 0;
    left: 0;
  }
  p {
    margin-top: 1rem;
  }
}

@keyframes shine {
  0% {
    box-shadow: 0px 0px 0px #ec398a18;
  }
  50% {
    box-shadow: 0px 0px 100px #ec398a3b;
  }
  100% {
    box-shadow: 0px 0px 0px #ec398a18;
  }
}
