@import "../../variables.scss";

.Profile {
  display: flex;
  justify-content: space-between;
  align-items: center;
  .profileLeft {
    h2 {
      margin: 1rem 0;
      font-size: 2rem;
    }
    span {
      font-weight: 500;
      color: $primary;
    }
    p {
      font-size: 1rem;
    }
  }
}
