@import "../../variables.scss";

// CSS for Loader

.loader {
  display: flex;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  background: rgba(255, 255, 255, 0.027);
  padding: 10rem;
  border-radius: 100%;
  animation: grow 2s ease-in-out infinite;
  .dot {
    width: 50px;
    height: 50px;
    margin: 0 0.5rem;
    animation: dot 1.2s ease-in-out infinite;
  }
}

@keyframes dot {
  0% {
    background: $primary-light;
    border-radius: 0%;
    transform: rotate(0deg);
  }
  50% {
    background: $secondary;
    border-radius: 50%;
    transform: rotate(180deg);
  }
  100% {
    background: $primary-light;
    border-radius: 0%;
    transform: rotate(360deg);
  }
}

@keyframes grow {
  0% {
    padding: 0rem;
  }
  50% {
    padding: 10rem;
  }
  100% {
    padding: 0rem;
  }
}

// CSS for Status

.statusBox {
  width: 100%;
  min-height: 2.5rem;
  margin: 0rem 0rem 1rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  background: $primary;
  color: $grey;
  font-size: 0.9rem;
  text-align: center;
  position: relative;
  transition: all 0.3s ease-in;
  .errorLine {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 5px;
    background: $warning;
  }
  .successLine {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 5px;
    background: $success;
  }
}

.visible {
  opacity: 1 !important;
}

.ErrorModal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  text-align: center;
  background: $primary-light;
  border: 1px solid $white;
  padding: 4rem;
  z-index: 80;
  p {
    color: $white;
  }
  .icon {
    position: absolute;
    top: 1.5rem;
    right: 1rem;
    transform: translate(0%, -50%);
    color: $white;
    font-size: 1.5rem;
    cursor: pointer;
  }
}

.Container {
  width: 90%;
  margin: 2.5rem auto;
  background: $whitebg;
  color: $black;
  padding: 2rem;
  border: 2px solid $primary-light;
}

.btn {
  padding: 1rem 1rem;
  margin: 1rem;
  cursor: pointer;
  outline: none;
}

.btnWarning {
  background: $warning;
  border: 1px solid $warningBorder;
  color: $warningBorder;
}

.btnDanger {
  background: $danger;
  border: 1px solid $dangerBorder;
  color: $dangerBorder;
}
